<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8">
    <title>!!TODO title</title>
    <link rel="stylesheet" type="text/css" href="../vendor/w2ui/w2ui-1.4.3.css" />
    <script src="../vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/w2ui/w2ui-1.4.3.js"></script>
    <script type="text/javascript" src="../vendor/filesaver.js"></script>
</head>

<body style="padding: 0px; margin:0px">
    <script type="text/javascript">
        w2utils.locale('../vendor/w2ui/ru-ru.json');
    </script>

    !!TODO page loading


</body>

</html>